html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 150px;
  width: 450px;
  border-radius: 20px;
  border: none;
  font-size: 72px;
  font-weight: bold;
  box-shadow: 0 10px 8px #888;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0 5px 3px #888;
}
